#content {
    outline: none;
}

*:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

::part(menu) {
    display: block;
    width: 350px;
    background-color: antiquewhite;
    padding: 10px;
}

::part(item) {
    list-style: none;
    margin-bottom: 10px;
}

::part(button) {
    width: 100%;
}

[part="button"].selected {
    background-color: lightblue;
}





.emoji-picker {
    margin: 0;
    padding: 4px;
    list-style: none;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.1);
    max-height: 200px;
    overflow-y: auto;
    min-width: 180px;
    width: 300px;
}
.emoji-picker li {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
.emoji-picker button.selected {
    background: #e6e6e6;
    border-radius: 6px;
}